/*---Root & All---*/
:root {
  --bg-color-dark: radial-gradient(#292929, #191818);
  --header-color-dark: linear-gradient(#979797, #4e4e4e);
  --white-default: hsl(228deg, 14%, 93%);
  --title-color: hsl(218, 54%, 20%);
  --green-default: hsl(146deg 100% 35%);
  --green-dark: hsl(146deg 100% 28%);
  --green-darker: hsl(146deg 100% 24%);
  --default-transition: 200ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  outline: none;
}

/*---Main---*/
.taskboard-main {
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  background: var(--bg-color-dark);
}

/*---Header---*/
.taskboard-header {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 16px;
  padding: 0 30px;
  background: var(--header-color-dark);
}

.logo-container,
.info-bg-container {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.logo-text {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 1.35em;
  color: white;
  margin-top: 3px;
}

.info-icon {
  margin-right: 20px;
}

/*---Create list---*/
.create-list-container {
  flex-direction: column;
  display: inline-flex;
  margin: 50px 0 0 20px;
  background: var(--white-default);
  padding: 5px;
  border-radius: 5px;

  /*!!!TEMPORARY!!!*/
  display: none;
}
.create-list-btn {
  width: 85px;
  border: none;
  background-color: hsl(146deg 100% 36%);
  border-radius: 2px;
  height: 35px;
  color: white;
  font-size: 0.95em;
  margin-top: 5px;
  cursor: pointer;
  transition: var(--default-transition);
}
.create-list-btn:hover {
  background-color: var(--green-dark);
}
.create-list-btn:active {
  background-color: var(--green-darker);
}

.create-list-input {
  box-shadow: inset 0 0 0 3px hsl(146deg 100% 36%);
  border: none;
  border-radius: 3px;
  padding: 15px;
  height: 40px;
  width: 320px;
}

/* ---Lists--- */
.list {
  display: inline-flex;
  flex-direction: column;
  min-height: 80px;
  background-color: var(--white-default);
  border-radius: 10px;
  padding: 21px 17px 15px 17px;
  margin: 50px 0 0 20px;
}

.list-title {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 600;
  color: var(--title-color);
}

/*---Cards---*/
.card {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 8px;
  width: 275px;
  margin-bottom: 12px;
  cursor: grab;
  transition: var(--default-transition);
}
.card:active {
  cursor: grabbing;
}
.card:hover {
  filter: brightness(0.95);
}
.card:first-child {
  margin-top: 20px;
}
.card:last-child {
  margin-bottom: 20px;
}

.card-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.add-new-card {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #5e6c84;
  cursor: pointer;
}
