/*---Root & All---*/
:root {
  --bg-color-dark: radial-gradient(#292929, #191818);
  --header-color-dark: linear-gradient(#979797, #4e4e4e);
  --white-default: hsl(228deg, 14%, 93%);
  --title-color: hsl(218, 54%, 20%);
  --green-default: hsl(146deg 100% 35%);
  --green-dark: hsl(146deg 100% 32%);
  --green-darker: hsl(146deg 100% 29%);
  --default-transition: 250ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

input,
button {
  outline: none;
}

/*---Main---*/
.taskboard-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 130px 0 0 25px;
  background: var(--bg-color-dark);
}

/*---Header---*/
.taskboard-header {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 16px;
  padding: 0 30px;
  background: var(--header-color-dark);
}

.logo-container,
.info-bg-container {
  display: inline-flex;
  height: 100%;
  align-items: center;
  user-select: none;
}

.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.logo-text {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 22px;
  color: white;
  margin-top: 3px;
  user-select: none;
}

.info-icon {
  margin-right: 20px;
  user-select: none;
}

/*---Create list---*/
.create-list-container {
  flex-direction: column;
  display: inline-flex;
  background: var(--white-default);
  padding: 10px;
  height: fit-content;
  border-radius: 5px;
  display: none;
}
.create-list-btn {
  width: 85px;
  border: none;
  background-color: hsl(146deg 100% 36%);
  border-radius: 3px;
  height: 35px;
  color: white;
  font-size: 17px;
  margin-top: 8px;
  cursor: pointer;
  transition: var(--default-transition);
}
.create-list-btn:hover {
  background-color: var(--green-dark);
}
.create-list-btn:active {
  background-color: var(--green-darker);
}

.create-list-controls {
  display: flex;
  align-items: center;
}

.create-list-input {
  box-shadow: inset 0 0 0 3px hsl(146deg 100% 36%);
  border: none;
  border-radius: 3px;
  padding: 13px;
  height: 40px;
  width: 320px;
}

.create-list-close {
  width: 30px;
  height: 30px;
  margin-top: 9px;
  margin-left: 8px;
  cursor: pointer;
  user-select: none;

  filter: contrast(0.5);
  transition: calc(var(--default-transition) - 100ms);
}

.create-list-close:hover {
  filter: contrast(0.9);
}

.create-card-container {
  flex-direction: column;
  display: inline-flex;
  background: var(--white-default);
  border-radius: 5px;
  margin-bottom: 7px;

  display: none;
}
.create-card-btn {
  width: 85px;
  border: none;
  background-color: hsl(146deg 100% 36%);
  border-radius: 3px;
  height: 35px;
  color: white;
  font-size: 17px;
  margin-top: 8px;
  cursor: pointer;
  transition: var(--default-transition);
}
.create-card-btn:hover {
  background-color: var(--green-dark);
}
.create-card-btn:active {
  background-color: var(--green-darker);
}

.create-card-controls {
  display: flex;
  align-items: center;
}

.create-card-input {
  border: none;
  border-radius: 3px;
  padding: 13px;
  min-height: 60px;
  width: 100%;
  resize: none;
  outline: none;
  font-family: "Roboto";
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.create-card-close {
  width: 30px;
  height: 30px;
  margin-top: 9px;
  margin-left: 8px;
  cursor: pointer;
  user-select: none;

  filter: contrast(0.5);
  transition: calc(var(--default-transition) - 100ms);
}

.create-card-close:hover {
  filter: contrast(0.9);
}

.create-new-list-btn {
  height: fit-content;
  display: flex;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.14);
  border: none;
  border-radius: 5px;
  padding: 12px 10px;
  width: 300px;
  color: var(--white-default);
  transition: var(--default-transition);
  cursor: pointer;
}
.create-new-list-btn:hover {
  background: hsl(0deg 0% 100% / 11%);
}
.create-new-list-btn:active {
  background: hsl(0deg 0% 100% / 9%);
}

.create-new-list-plus {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

/* ---Lists--- */
.list {
  display: inline-flex;
  flex-direction: column;
  max-width: 300px;
  width: -webkit-fill-available;
  background-color: var(--white-default);
  border-radius: 10px;
  height: fit-content;
  padding: 21px 17px 15px 17px;
  margin-right: 25px;
}

.list-title {
  font-family: "Rubik";
  font-weight: 600;
  letter-spacing: 0.5px;
}

/*---Cards---*/
.cards-container {
  min-height: 20px;
  padding-top: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
  cursor: grab;
}
.card:active {
  cursor: grabbing;
}
.card:hover {
  background-color: hsl(0deg 0% 94.5%);
}

.card-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  word-break: break-word;
}

.add-new-card {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  user-select: none;
  padding: 7px;
  transition: var(--default-transition);
  border-radius: 2px;

  color: hsl(218, 20%, 40%);
  cursor: pointer;
}
.add-new-card:hover {
  background-color: hsla(218, 76%, 15%, 0.078);
  color: hsl(218, 54%, 20%);
}
.add-new-card:active {
  background-color: hsla(218, 76%, 15%, 0.125);
}

.add-new-card-plus {
  font-size: 20px;
}

.card-edit {
  width: 16px;
  height: 16px;
  margin-top: 0.5px;
  opacity: 0;
  user-select: none;

  transition: calc(var(--default-transition) - 70ms);
}
.card:hover > .card-edit {
  opacity: 1;
}

/* Drag & Drop */
.ui-sortable-helper {
  transform: rotate(4deg);
  cursor: grabbing;
}

.ui-sortable-placeholder {
  background-color: hsla(228deg 54% 90% / 50%);
  visibility: visible !important;
}
